* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    font-family: "lucida fax";
    display: block;
}

.nav-item {
    /* margin-left: 45%; */
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: larger;
    text-align: center;
}

#head {
    text-align: center;
    font-family: "Bahnschrift Condensed";
}

.head-head {
    margin: 0px;
}

.head-body {
    margin: 10px;
}

.profile-img {
    border-radius: 20px;
}

.col-md-3,
.col-sm-9 {
    margin-right: 10%;
}

#about-hidden {
    color: #ffffff;
}

.about-me-head {
    font-family: "Bahnschrift SemiCondensed";
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin-top: 1em;
}

.about-me-body {
    font-family: "Arial Rounded MT Bold";
    font-size: 1rem;
    margin-left: 2em;
}

.self_description {
    font-family: "ROG Fonts";
}

.self_content {
    font-family: "Arial Rounded MT Bold";
}

#progress-hidden {
    color: #ffffff;
    margin-top: -10%;
    margin-bottom: 20px;
}

#progress-achieved {
    background: url("C:\\Users\\DARSHIL\\OneDrive_1\\OneDrive\\Pictures\\college\\progress-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    color: #ffffff;
    background-attachment: fixed;
}

.progress-head,
.other-progress-head {
    font-family: "Bahnschrift SemiCondensed";
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    margin-left: -5%;
    padding-top: 10px;
}

.other-progress-head {
    font-family: 'Times New Roman';
}

.progress-description {
    margin-left: 50%;
    font-size: 18px;
}

.progress-row {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 5px;
}

.progress {
    margin-left: 5em;
    margin-right: 5em;
}